<div class="text-center">
	<h1>Risk of Rain</h1>

	<p>Fansort for the original roguelike game <a href="https://riskofrain.fandom.com/wiki/Main_Page">Risk of Rain</a>. For more fansorts, check out <a href="https://github.com/floofnoodlecode?tab=repositories&q=fansort&type=&language=&sort=name">my other repos</a>.</p>
</div>

<ul class="list-group">
	{% for list in lists %}
		{% assign props = list.props %}
		<button id="{{list.id}}" class="list-group-item list-group-item-action d-flex align-items-center p-1">
			{% if props %}
				<img src="{{list.dir | concat: props.logo.src}}" alt="logo-{{list.id}}" width="64" height="64"
					class="border bg-light pixelated" style="{{props.logo.style | default: ''}}">
			{% endif %}
			<div class="ms-2">
				<h3 class="m-0 fw-normal">{{list.title | split: " - " | slice: 1 | join: " - "}}</h3>
			</div>
		</button>
	{% endfor %}
</ul>
