{% assign props = item.props %}

<div class="text-center border border-1 rounded-1 border-dark">
	<a href="{{props.url}}">
		<h6 class="fs-6 mb-0 pe-1 ps-1">{{item.name}}</h6>
	</a>
	<div class="bg-dark">
		<img src="{{props.img.src}}" width="{{props.img.width}}" height="{{props.img.height}}"/>
	</div>

	<table class="table table-sm align-middle small mb-0"><tbody>
		{% comment %} props.fields {% endcomment %}
		{% if props.fields %}
			{% for field in props.fields %}
				{%- comment -%}Normalize to string{%- endcomment -%}
				{% if field[1].first %}
					{% assign value = field[1] | join: ' | ' %}
				{% else %}
					{% assign value = field[1] %}
				{% endif %}

				<tr>
					<th scope="row" class="text-capitalize">{{field[0]}}</th>
					<td>{{value}}</td>
				</tr>
			{% endfor %}
		{% endif %}

		{% comment %} item.attrs {% endcomment %}
		{% if item.attrs %}
			{% for field in item.attrs %}
				{%- comment -%}Normalize to string{%- endcomment -%}
				{% if field[1].first %}
					{% assign value = field[1] | join: ' | ' %}
				{% else %}
					{% assign value = field[1] %}
				{% endif %}

				<tr>
					<th scope="row" class="text-capitalize">{{field[0]}}</th>
					<td>{{value}}</td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>
</div>
